{% load pipeline %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Oh shit! Word?! Shit you care about but probably shouldn't.">
    <meta name="author" content="Oh shit! Word?!">

    <!-- styles -->
    {% stylesheet 'mysite_css' %}

  </head>
  <body>

    {% block content %}{% endblock %}

    <!-- JavaScript scripts -->

    {% javascript 'stats' %}
  </body>
</html>